
{{define "superhero"}}
    {{template "cabecera"}}
    <div>
        <div class="text-center">
            <img src = "{{ .Image.Url }}" class="img-fluid" alt="Image SuperHeros" width="310px" height="500px">
        </div>
        <div class="container overflow-hidden text-center">

            <h2>Super Hero</h2>
            <h5>N°: {{.Id}}</h5>
            <h5>Nombre: {{.Name}}</h5>

            <h3>Estadísticas de Poder</h3>
            <h5>Inteligencia: {{.Powerstats.Intelligence}}</h5>
            <h5>Fortaleza: {{.Powerstats.Strength}}</h5>
            <h5>Velocidad: {{.Powerstats.Speed}}</h5>
            <h5>Durabilidad: {{.Powerstats.Durability}}</h5>
            <h5>Poder: {{.Powerstats.Power}}</h5>
            <h5>Combate: {{.Powerstats.Combat}}</h5>

            <h3>Biografía</h3>
            <h5>Nombre Completo: {{.Biography.FullName}}</h5>
            <h5>Alter Egos: {{.Biography.AlterEgos}}</h5>
            <h5>Alias : {{.Biography.Aliases}}</h5>
            <h5>Lugar de nacimiento: {{.Biography.PlaceOfBirth}}</h5>
            <h5>Primera impresión: {{.Biography.FirstAppearance}}</h5>
            <h5>Editor: {{.Biography.Publisher}}</h5>
            <h5>Alineación: {{.Biography.Alignment}}</h5>

        </div>

    </div>
    {{template "pie"}}
{{end}}